
<div class="bannerImage">
    <!-- <img style="opacity: 0;" src="../../assets/images/foodimg.jpg" alt="" srcset=""> -->
    <img class="image" src="assets/images/AI_Generated_Image.jpg" height="250" width="250"
        alt="bannerimage">

    <div class="row">
        <div class="col-md-6">

        </div>

        <div class="col-md-6 " style="font-family: RaleWayMedium;">
            <h1 class="heading">What's <br> Cooking</h1>
            <h3 class="heading2">Browse our gallery for dependable delicious recipies</h3>
        </div>

    </div>
<div class="row">
    <div class="col-lg-6">
        <div class="title-card">
          <h1 >Latest <br> Articles</h1>
          Check out our most recent blog posts!
          <div style="width: 60px; height: 5px;margin-bottom: 50px; margin-top: 20px; background: green;"></div>
        </div>
      
    </div>

</div>

</div>