@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"); 
@import url("../../styles/fonts.css");
.bg{
    background-color: white;
}

.subname{
    margin-top: 0px;
    font-weight: 400;
    color: gray;
}
p.field-wrapper input {
    float: right;
}
p.required-field label::after { 
    content: "*";
    color: red;
}

label{
    font-weight: 500;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
input ::placeholder{
    color: gray;
    
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.image{
    background-image: url("https://imgs.search.brave.com/pdtxyZTjQamxaBQ3GMBAccRp21Z9vnlHNdSGyB8IXyc/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly90aGV3/YXl3ZXNlZWl0Lm9y/Zy93cC1jb250ZW50/L3VwbG9hZHMvMjAx/Ny8wNy9mb29kLXBo/b3RvZ3JhcGh5My5q/cGc");
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
  
}
.name{
    width: 100%;
}

img{
    height: 80%;
    width: 80%;
   
}

@media only screen and (max-width:768px) {

  #no-more-tables tbody,
  #no-more-tables tr,
  #no-more-tables td {
      display: block;
  }
  #no-more-tables thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
      
  }
  #no-more-tables td {
      position: relative;
      padding-left: 50%;
      border: none;
    //  border-bottom: 1px solid #eee;
  }
  #no-more-tables td:before {
      content: attr(data-title);
      position: absolute;
      left: 6px;
      font-weight: bold;
  }
  #no-more-tables tr {
     border-bottom: 1px solid #ccc;
     box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }

}
@media screen and (min-width:576px) {
    .d-xs-block {
        display: block !important;
    }
    .name{
        width: 50%;
        padding: 2px;
     display: inline;
    }
}




