@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

.search{
    align-items: center;
    margin-top: 100px;
   
}

.searchTerm{
    padding-left: 20px;
    width: 100%;
    height: 50px;
    border: 1px solid grey;
    border-radius: 5px;
    
}

.searchTerm:active{
    border: 2px solid black;
}
.searchButton{
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 5px;
}

.fas{
    color: white;
  
    
}